#root, html, body{
    height: 100vh;   /* 100% of the web page's hieght*/
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: rgb(207, 206, 214);
}
*{
    box-sizing: border-box; /*tells the browser to account for any border or padding in the values you specifies for an element */
}